@import url(style.css);

/* courses */

.courses-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.courses-content .content {
  overflow: hidden;
}

.courses-content .content .avta {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.courses-content .content-img {
  height: 175px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-content .content-img img {
  width: 380px;
}

.courses-content .text {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.courses-content .text button {
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
  bottom: -12px;
}

.courses-content .text h5 {
  margin-bottom: 10px;
}

.courses-content .text p {
  font-size: 11px;
}
.courses-content .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 15px 10px;
}
