@import url(style.css);

.files-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
}
.files {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}
.file-conatiner .icon i {
  font-size: 15px;
  color: var(--gray-color);
}

.file-conatiner .file {
  text-align: center;
  font-size: 15px;
}

.file-conatiner .file h2 {
  font-size: 15px;
}

.file-conatiner .file img {
  width: 70px;
  margin-bottom: 15px;
}

.file-conatiner .details {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #eee;
  font-weight: 600;
}

.files-content .statistic {
  height: fit-content;
}

.statistic .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 6px;
}

.statistic .content .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statistic .content .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-color);
}

.st-bg-c1 {
  background-color: #cce3ff;
}
.st-bg-c2 {
  background-color: #d3f3df;
}
.st-bg-c3 {
  background-color: #fdd9d7;
}
.st-bg-c4 {
  background-color: #fdeccd;
}

.c2 {
  color: #2ec55e;
}

.c3 {
  color: #f44336;
}

.c4 {
  color: #f6a424;
}

.statistic .content .mb {
  color: var(--gray-color);
  font-size: 12px;
  font-weight: 600;
}

.statistic-content {
  display: grid;
  gap: 10px;
}

@media (max-width: 1350px) {
  .files-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .statistic-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 767px) {
  .statistic-content {
    grid-template-columns: 1fr;
  }
}
