@import url(style.css);

.plans-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.plans-content .free {
  padding: 2rem;
  color: white;
  text-align: center;
}

.plans-content .free span {
  display: block;
}

.plans-content .free span:first-child {
  font-size: 18px;
}

.plans-content .free .price {
  font-size: 30px;
  position: relative;
  width: fit-content;
  margin: 8px auto 0;
}

.plans-content .free .price::before {
  content: "$";
  font-size: 17px;
  position: absolute;
  left: -12px;
  top: 0;
}

.plans-content .list {
  margin: 10px 0;
}

.plans-content .list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  font-weight: 600;
}

.plans-content .list li i:last-child {
  cursor: pointer;
}

.plans-content .list li .icon {
  display: flex;
  gap: 10px;
}

.plans-content button {
  display: block;
  right: 0;
  font-size: 16px;
  margin-top: 10px;
}

.plans-content .paragh {
  text-align: center;
  margin: 10px 0;
  opacity: 0.5;
}
