/*--------------------------
  Control Site
---------------------------*/

.control-site .text {
  margin-top: 13px;
}

.control-site .text textarea {
  width: 100%;
  height: 140px;
  padding: 0.5rem;
  border-color: #eee;
  border-radius: 5px;
}

.control-site .text textarea::placeholder {
  font-size: 13px;
}

/*--------------------------
  Control Site
---------------------------*/

.general-info-content form {
  display: grid;
  gap: 0.8rem;
}

.general-info .input {
  font-size: 13px;
}

.general-info .input label {
  display: block;
  margin-bottom: 0.4rem;
}

.general-info .input .name,
.general-info .input .email {
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
}

.general-info .input .name {
  width: 100%;
  border: 1px solid #eee;
}

.general-info .input .change {
  margin: 0;
}

.general-info .input .email {
  width: 78%;
  background-color: #eee;
  border: 1px solid #ddd;
}

/*--------------------------
  Security Info
---------------------------*/

.security-info-content .content {
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

/*--------------------------
  Socila Info
---------------------------*/

.social-info .social {
  display: flex;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.social-info form {
  display: grid;
  gap: 15px;
}
.social-info .social .icon {
  color: #b1a7a7;
  font-size: 17px;
  border-right: 1px solid #ddd;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-info .social input {
  font-size: 13px;
  width: 100%;
  padding: 0.5rem;
  padding-left: 0;
}

/*--------------------------
  Widgets Control
---------------------------*/

.widgets-control .content,
.backup-manager .content {
  display: grid;
  gap: 15px;
  margin-left: 0.4rem;
}

.widgets-control .check {
  display: flex;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.widgets-control .check input {
  cursor: pointer;
}

/*--------------------------
  Backup Manager
---------------------------*/

.backup-manager .content {
  display: grid;
  gap: 15px;
  margin-left: 0.4rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.backup-manager .check {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.backup-manager .check .circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #2196f3;
  position: relative;
  border: none;
  cursor: pointer;
}

.backup-manager .check:focus .c1 {
  background-color: #2196f3;
}

.backup-manager .check:focus .c2 {
  background-color: #2196f3;
}

.backup-manager .check:focus .c3 {
  background-color: #2196f3;
}

.backup-manager .check:focus .c4 {
  background-color: #2196f3;
}

.backup-manager .servers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.backup-manager .servers .server {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #eee;
  padding: 0.5rem;
  cursor: pointer;
}

.backup-manager .servers .server:focus {
  border-color: #2196f3;
}

.backup-manager .servers .server:focus i {
  color: #2196f3;
}

.backup-manager .servers .server:focus p {
  color: #2196f3;
}

/*--------------------------
  Backup Media
---------------------------*/

@media (max-width: 767px) {
  .backup-manager .servers {
    grid-template-columns: 1fr;
  }
}
